<div class="animate__animated animate__fadeIn animate__faster">
  <h2>
    Buscar por la region <small>{{ countrySelected | titlecase }}</small>
  </h2>
  <hr />
</div>
<div class="row">
  <div class="col">
    <button
      *ngFor="let region of regions"
      [class]="setClass(region)"
      (click)="searchRegion(region)"
    >
      {{ region | titlecase }}
    </button>
  </div>
  <div class="row">
    <div class="col">
      <app-countries-table
        [countriesFound]="countriesOfRegions"
      ></app-countries-table>
    </div>
  </div>
</div>
